*{
    margin:0;
    padding: 0
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 50px
}
.card-container .MuiCard-root {
  width: calc(25% - 1rem); /* Four cards per row, minus gap */
  min-width: 250px;
}

