
.image{
    border-radius: 40px;
    width: 30%;
    padding: 20px;
    
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.section p{
    margin: 5px;
    
}
.button{
    margin: 5px;
    margin-right: 5px;
}