
span{
    font-size: large;
    font-weight: 600;
}
.container{
    background-color: rgb(234, 230, 230);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    position: sticky;
    top: 0;
     z-index: 1000;
    
}

.logo-img {
  display: block;
  width: 80px;
  height: auto;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login p{
    margin: 10px;
    font-weight: 600;

    cursor: pointer;
}
#inp{
    width: 300px;
    height:30px;
    border-radius: 50px;
    border: 1px solid black
}
.btn{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    margin: 8px;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
.login button{
    border-radius: 50px;
    border:2px solid black;
    width: 120px;
    height: 30px;
    margin: 10px;
    cursor: pointer;

}
